# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environments
venv/
.env/
.venv/

# Environment files
.env

# SQLite database files
*.db
*.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db