# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environments
venv/
.env/
.venv/

# Environment files
.env

# SQLite database files
*.db
*.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

client_secret_1031820065609-qa5bgd2mcfdurk7dmo3l4ck141figl3n.apps.googleusercontent.com.json